@mixin gradient-box($color1, $color2){
	background: $color1; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left bottom, $color1, $color2 50%, $color1 100%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom left, $color1, $color2 50%, $color1 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom left, $color1, $color2 50%, $color1 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom left, $color1, $color2 50%, $color1 100%); /* Standard syntax */
}

