$view: #89c6bf;
$primary-color: #DB644C;
$secondary-color: #89c6bf;
$font-color:#fff;
$font-type: "Montserrat",sans-serif;
$highlight:#3ee6bf;
$highlight-lighten:#8be4d0;
$red-font:#e47272;
$gray: #aaa;
$screen-sm-min: 970px;