$view: #89c6bf;
$sun: #DB644C;
$primary-color: #DB644C;
$secondary-color: #89c6bf;
$font-color:#EBEFF0;
$font-type:graphik-extra-light, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$mountain: #fabc57;
$sand: #fdd7a8;
$dark-mountain1: #95876a;
$dark-mountain2: #777672;
$gray: #aaa;
$timing: 12s;
$curve1: cubic-bezier(0.455, 0.03, 0.615, 0.555);
$curve2: cubic-bezier(0.645, 0.045, 0.355, 1);